<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>
<h1>First Template</h1>
<h2>Persons test</h2>
<h3>{{ list }}</h3>
{# Example with get request #}
<form method="get" action={% url "create person" %}>
    {# First variant to make button #}
    <button>Create HardCode Person</button>
    {# Second variant ... #}
{#    <input type="button" value="Create">#}
</form>
<br/> {# just an empty row #}
{# Example with post request #}
<form method="post" action={% url "create person" %}>
    <label>
        <input name="first_name"/>
        <input name="last_name"/>
        <input name="age"/>
        <input name="address"/>
        {% csrf_token %}
    </label>
    <button>Create Person</button>
</form>
{# Show all persons #}
<ul>
    {% for person in people %}
        <li>
        {{ person.first_name }} {{ person.last_name }}, {{ person.age }}, {{ person.address }}
        </li>
    {% endfor %}
</ul>
</body>
</html>